# Rename the file after putting in your values to config.env, Must be in the root folder for the code to work.
PORT=9090 # only enter the port number if hosting on locahost. Might mess up if you're hosting somewhere on the cloud.
DB_URI="mongodb+srv://<username>:<password>@cluster0.<uri>.mongodb.net/<dbName>?retryWrites=true&w=majority" # Database uri for mongoDB atlas. Replace it with your own.
FRONT_END_URI="http://localhost:3000" # URI for the front end. Needed to allow the cross origin.